/* Ink Black:#0D1B2A
Prussian Blue: #1B263B
Dusk Blue: #415A77
Dusty Denim: #778DA9
Light Gray: #F5F5F4 */

@media screen {
    body,
    html {
        overflow-x: hidden;
    }

    img {
        width:100%;
        display: block;
        margin:0;
        
    }
    
    .top {
        padding:0;
    }

    .mic {
        width: 100%;
        margin-top: 50px;
    }
    .apple {
        margin:auto;
        width:100%;
    }
    
    .byline {
        color: black;
        font-size:15px;
        margin:0;
        text-align:left;
    }

    h1 {
        color: #778da9;
        font-family: Playfair Display;
        font-size: 20px;
        margin-bottom: 10px;
        text-align:center;
        
    }

    h2 {
        color: white;
        font-family: Playfair Display;
        font-style: italic;
        font-size: 13px;
        margin-bottom:210px;
        text-align:center;
    }

    .top-text {
        position: absolute;
        bottom: 200px;
    }
    
    h3 {
        font-family: Playfair Display;
        color: #9cc0d3;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        background-color: #415a77;
        padding: 15px;
        border-radius: 40px;
    }

    body {
        background-color: #f4f6fc;
        color: #0d1b2a;
        font-family: lato;
        font-size: 18px;
    }

    p {
        margin:20px;
    }

    .spotify {
        width: 100%;
    }

    .chart {
        width: 100%;
    }
    .flourish-embed flourish-map {
        width: 100%;
    }
    .disclaimer {
        font-style: italic;
    }
    .map {
        margin:50px;
    }
    h6 {
        color:#778da9;
        font-family:lato;
    }
    .Isaiah {
        font-size: 10px;
        margin-left:30px;
    }
    .Stu {
        font-size:10px;
    }
}
    
@media (min-width:568px) {
    .byline {
        font-size:20px;
    }
    h1 {
        font-size: 60px;
        margin-bottom:30px;
    }
    h2 {
        font-size:25px;
        margin-bottom:30px;
    }
    }
    h3 {
        font-size: 20px;
    }
    .chart{
        width:50%;
        float: left;
        margin-right: 30px;
    }
    .apple {
    width:30%
}