/* Ink Black:#0D1B2A
Prussian Blue: #1B263B
Dusk Blue: #415A77
Dusty Denim: #778DA9
Light Gray: #F5F5F4 */

@media screen {
    body,
    html {
        overflow-x: hidden;
        margin: 0;
    }

    img {
        width: 100%;
        margin-bottom: 30px;
    }

    .mic {
        width: 100%;
        margin-top: 50px;
    }

    .camera {
        width: 100%;
    }

    .ligue {
        width: 100%;
    }

    .greatrix {
        width: 100%;
        margin-top: 30px;
    }

    .placeholder {
        width: 100%;
    }
    h1 {
        color: #778da9;
        font-family: Playfair Display;
        font-size: 30px;
        margin-top: 90px;
        margin-left: 110px;
    }

    h2 {
        color: white;
        font-family: Playfair Display;
        font-style: italic;
    }

    .top-text {
        position: absolute;
        bottom: 200px;
        /*background color add*/
    }
    
    h3 {
        font-family: Playfair Display;
        color: #9cc0d3;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        background-color: #415a77;
        padding: 15px;
        border-radius: 40px;
    }

    body {
        background-color: #f4f6fc;
        color: #0d1b2a;
        font-family: lato;
        margin: 50px;
        font-size: 18px;
    }

    p {
        margin-top: 30px;
    }

    .spotify {
        width: 100%;
    }

    .chart {
        width: 100%;
    }
    .flourish-embed flourish-map {
        width: 100%;
    }
    .disclaimer {
        font-style: italic;
    }
}
    
@media (min-width:568px) {
     h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 20px;
        width: 300px;
    }
    h3 {
        font-size: 20px;
    }
    body {
        font-size: 15px;
        margin: 0;
    }
    img {
        width:100%;
    }
    .flourish-embed flourish-map {
    width: 100%;
    }
    .chart{
    width:50%;
    float: left;
    }
}