body {
    font-family: Arial, sans-serif;
    margin-left: 175px;
    margin-right:175px;
}

h1 {
    font-weight: 700;
    margin-top: 50px;
}

p {
    margin-bottom: 30px;
}


.flourish-embed flourish-chart {
    max-width: 100px;
}