/*
MY COLOR PALETTE
Garnet - #780000
Red - #A51212
OffWhite - #f9f9f3
Navy - #00283D
PowderBlue - #9CC0D3
*/

img {
    width: 50%;
    border: solid;
    border-color: #780000;
    border-width: thick;
    border-radius: 40px;
    margin-bottom: 30px;
    margin-left: 80px;
    text-align: center;
}

body {
    background-color: #f9f9f3;
    font-family: "Source Sans 3";
}

h1 {
    font-size: 100px;
    margin-top: 50px;
    margin-right: 90px;
    font-family: "Playfair Display";
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #00283d;
}

h2 {
    font-family: "Source Sans 3";
    color: #9cc0d3;
    font-size: 45px;
    text-align: center;
    background-color: #00283d;
    padding: 20px;
    border-radius: 40px;
    margin-right: 90px;
}
button {
    font-size: 25px;
    background-color: #780000;
    color: white;
    font-family: "Source Sans 3";
    text-transform: uppercase;
    font-weight: 600;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-left: 65px;
    text-align: center;
}

button:hover {
    background-color: #9cc0d3;
}

h3 {
    font-size: 50px;
    font-family: "Playfair Display";
    color: #00283d;
    background-color: #9cc0d3;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

h4 {
    font-size: 75px;
    font-family: "Playfair Display";
    color: #780000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 10px;
}

#navigation {
    background-color: #9cc0d3;
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 15px;
}

.jobtitle {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
}
.job {
    font-size: 27px;
    margin-left: 20px;
    font-weight: 700;
    line-height: 0.9;
}

.descriptions {
    background-color: #9cc0d3;
    padding: 22px;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 30px;
}

.education {
    background-color: #9cc0d3;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 90px;
}

.degree {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.college {
    font-size: 27px;
    font-weight: 700;
}

.year {
    font-size: 27px;
    font-weight: 700;
    font-style: italic;
}

.skills {
    font-size: 27px;
    font-weight: 700;
    background-color: #9cc0d3;
    padding: 30px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
}